/* PC */
@media (min-width: 992px) {
  .mobile-header{
    display: none;
  }
}

/* Tablet vs Mobile */
@media (max-width: 991.98px) {
  /* 1. Ẩn Navbar trên Tablet vs Mobile */
  .navbar {
    display: none;
  }
  /* 2. Chuyển Logo vào giữa */
  .header-top {
    position: relative;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* 3. Căn lại vị trí Menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* 4. Overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* Bình thường ẩn overlay */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 5. Kiểm tra nếu checkbox đc check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 6. Code Menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* 7. Kiểm tra nếu checkbox đc check thì hiện menu drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* 8. Menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link{
    display: block;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Mobile */
@media (min-width: 767.98px) {
}


/* Tạm ẩn phần k liên wan */
.hero, .footer, main{
    display: none;
}